<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cart</title>
</head>
<body>
    <div class="container">
        <div class="navbar">
            <div class="logo">
                <img src="static\images\Dukaan Logo.png" width="125px">
            </div>
            <nav>
                <ul>
                    <li><a href="/">Home</a></li>
                    <li><a href="/shop">Shop</a></li>
                    <li><a href="/contactus">Contact Us</a></li>
                    <li><a href="/login">Login/Sign-Up</a></li>
                    <form class="searching">
                        <input class="searchbar" type="search" placeholder="Search" aria-label="Search">
                        <button class="press-search" type="submit">Search</button>
                    </form>
                </ul>
                
            </nav>

        </div> 
        <form id ="login" class="form-box">
            <div class="button-bar">
                <button type="button" class="tog-button"><a href= "/login">Login</a>Login</button>
                <button type="button" class="tog-button">SignUp</button>
                
            </div>
            <div class="input">
                <input type="text" class="input-area" placeholder="User Id " required>
                <input type="password" class="input-area" placeholder="Enter password" required>
                <button type="submit" class="submit">LogIn</button>
    
            </div>
    
        </form>
    
</body>
</html>