<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>HU-Dukaan</title>
        <link rel="stylesheet" href="static\style.css">
    </head>
    <body>
        <div class="container">
            <div class="navbar">
                <div class="logo">
                    <img src="static\images\Dukaan Logo.png" width="125px">
                </div>
                <nav>
                    <ul>
                        <li><a href="/">Home</a></li>
                        <li><a href="/shop">Shop</a></li>
                        <li><a href="/contactus">Contact Us</a></li>
                        <li><a href="/login">Login/Sign-Up</a></li>
                        <li><a href="/checkoutone">Checkout</a></li>
                        <form class="searching"> 
                            <input class="searchbar" type="text" placeholder="Search" aria-label="Search">
                            <button class="press-search" type="submit">Search</button>
                        </form>
                    </ul>
                    
                </nav>
            </div> 
        <div class="row">
            <div class="column-2">
                <h1> (Un)Official<br> Habib University <br>Merchandise</h1>
            </div>
            <div class="column-2">
                <img src="static\images\Promotion image.png">
            </div>
        </div>

        </div>
       
    </body>
</html>