<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="static\style.css">
    <title>Shop - HU Dukaan</title>
</head>
<body>
    <div class="main-container">
        <div class="navbar">
            <div class="logo">
                <img src="static\images\Dukaan Logo.png" width="125px">
            </div>
            <nav>
                <ul>
                    <li><a href="/">Home</a></li>
                    <li><a href="/shop">Shop</a></li>
                    <li><a href="/contactus">Contact Us</a></li>
                    <li><a href="/login">Login/Sign-Up</a></li>
                    <form class="searching">
                        <input class="searchbar" type="search" placeholder="Search" aria-label="Search">
                        <button class="press-search" type="submit">Search</button>
                    </form>
                </ul>
            </nav>
        </div> 
       
        
        <!-- this is called jinja templating here we are calling names and images from our inventorty -->
        <div class="smallcontainer">
            <!-- this loops through the dictionary -->
            {% for name,details in inventory.items() %} 
            <div class="left-column">
            <!-- loads the image -->
            <img src="{{ details[2] }}" width="250">
            <h4>{{name}}</h4>  
            <!-- calls a function written in the script tag upon calling -->
            <button onclick ="addToCart('{{name}}','{{details[0]}}')">Add to Cart</button>
            <h4><a href="/checkoutone">Checkout</a></h4>
            <p>{{details[0]}} Rs</p>
            
            
            </div>
            {% endfor %}
        </div>
        
    
</body>

<script>
    // this script tag fetches the name and the details of the item when you click on the button and sends a post request to the 
    // flask front end 
    function addToCart(name,details) {
        var xhr = new XMLHttpRequest();
        var url = "/checkout";
        xhr.open("POST", url, true);
        xhr.setRequestHeader("Content-Type", "application/json;charset=UTF-8");
        var data = JSON.stringify({"name": name,"details": details});
        xhr.send(data);


    }
    </script>
</html>